/vendor
/chandler.yml

/extensions/available/*
/extensions/enabled/*
!/extensions/available/.gitkeep
!/extensions/enabled/.gitkeep

/tmp

/htdocs/*
!/htdocs/.htaccess
!/htdocs/index.php

/logs

.php-cs-fixer.cache