# Chandler
/extensions/available/
/extensions/enabled/
/logs/
/chandler.yml

# Composer
/vendor/
/composer.phar

# PhpStorm
/.idea/

# PHPUnit
/tests/cache/

/tmp/cache/di_*
/tmp/plugin_artifacts/*
/tmp/cache/database/*
/tmp/cache/templates/*
/tmp/cache/yaml/*
!/tmp/plugin_artifacts/.gitkeep
!/tmp/cache/database/.gitkeep
!/tmp/cache/templates/.gitkeep
!/tmp/cache/yaml/.gitkeep
